@import url("materialize.min.css");

.container {
	max-width: 960px;
}

#hero{
  background: linear-gradient(135deg,  rgba(83,15,173,0.8) 0%,rgba(166,0,166,0.8) 50%,rgba(27,27,179,0.8) 100%), /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  			url(../images/1400_banner.jpg);
  background-size:cover;
  background-position: center;
  position:relative;
  height:270px;
}

h1, h2, h3, h4, h5 {
	font-family: 'Libre Baskerville', serif;
}

p, .btn, html {
	font-family: 'Open Sans', sans-serif;
}

.hero-text {
	position:relative;
	padding-top:20px;
}

nav {
	position:relative;
	z-index:2;
}

.hero-button {
    font-weight: bold;
}

h5 {
    font-weight: bold;
}